<div class="layout-wrapper"
    [ngClass]="{'menu-layout-static': !isOverlay(),
                'menu-layout-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-static-inactive': staticMenuDesktopInactive,
                'layout-menu-static-active': staticMenuDesktopInactive}">

    <app-topbar (toggleMenubar)="menuToggle()" (toggleshowhambergmenu)="menuToggleResponse()"></app-topbar>
    

    <div class="layout-menu-container" [ngClass]="{'layout-menu-dark':darkMenu}" >
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
            <div class="menu-scroll-content">
                <app-menu ></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <div class="layout-main">
        <div class="ui-g" style="height: calc(100%);">
            <div class="ui-g-12" style="height: calc(100%+18px);">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <div class="layout-mask"></div>

    <app-footer ></app-footer>


</div>